ul.att
{
list-style-type:none;
padding:0;
}
li#t
{
margin-left:-0.5%;
display:inline;
padding:0px;
}
.para
{
width:696px;
margin-top:-1.5%;
margin-left:-0.5%;
padding:0;
text-align:center;
background-color:rgb(102,144,204);
}
#letter
{
margin:0;
padding:0;
font-size:25px;
color:navyblue;
}
#diff
{
margin:0;
padding:0;
font-size:25px;
color:white;
}
#letter1
{
margin:0;
padding:0;
font-size:30px;
color:navyblue;
}
#diff1
{
margin:0;
padding:0;
font-size:30px;
color:white;
}
.atr
{
margin-top:-0.3%;
margin-left:-0.5%;
padding:0;
font-size:25px;
font-style:bold;
width:696px;
text-align:center;
background-color:red;
color:white;
}
.logo
{
margin-top:-2.1%;
padding:0;
margin-left:5%;
}
ul.attri
{
width:648px;
box-shadow:5px 5px 8px lightgray;
}
#pa
{
width:697px;
margin-left:-1%;
padding:20px;
text-align:center;
color:blue;
}
li.line
{
line-height:40px;
}
img#wid
{
margin-top:-15%;
margin-left:20%;
}
p#pag
{
margin-top:-2%;
margin-left:8%;
width:697px;
}
#ima
{
margin-top:-9%;
margin-left:60%
}
li.last
{
margin-left:-25%;
display:inline;
}
